---
import BackToTop from '~/components/BackToTop.astro'
import Footer from '~/components/Footer.astro'
import Header from '~/components/Header.astro'
import BaseHead from '~/components/shared/BaseHead.astro'
import '~/styles/global.css'
import { defaultLang, getTranslations } from '~/i18n'
import type { Language } from '~/i18n/types'

interface Props {
  title?: string
  description?: string
  keywords?: string[]
  image?: string
}

const lang = (Astro.currentLocale || defaultLang) as Language

const t = getTranslations(lang)

const {
  title = t['page.title'],
  description = t['page.description'],
  keywords,
  image,
} = Astro.props
---

<!doctype html>
<html lang={lang}>
  <head>
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/assets/fonts/mona-sans-variable.woff2"
      crossorigin="anonymous"
    />
    <script is:inline>
      let theme = localStorage.getItem('theme')
      if (!theme) {
        const prefersDark = window.matchMedia(
          '(prefers-color-scheme: dark)',
        ).matches
        theme = prefersDark ? 'dark' : 'light'
      }
      document.documentElement.dataset.theme = theme
    </script>
    <BaseHead
      title={title}
      description={description}
      keywords={keywords}
      image={image}
    />
  </head>
  <body>
    <div
      class="bg-canvas-primary mt-2 flex min-h-screen flex-col rounded-t-4xl"
    >
      <Header lang={lang} />
      <main class="flex-1">
        <slot />
      </main>
      <Footer lang={lang} />
      <BackToTop />
    </div>
  </body>
</html>
